@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div class="mt-2 flex items-center text-sm text-white">
@Model.Content.Value("textRTE")
</div>

